# Pandas Basic 学习笔记

# 基本信息

In [ ]:
from pandas import Series

# 1. Series

In [2]:
a = [1, 2, 3, 4]
s = Series(a)

In [3]:
s

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
s.values

array([1, 2, 3, 4])

In [6]:
s1 = Series(a, index=['A', 'B', 'C', 'D'])

In [7]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [8]:
import numpy as np

In [9]:
s2 = Series(np.arange(5))
s2

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [10]:
d = {'A':1, 'B':2, 'C':3, 'D':4}
s3 = Series(d)
s3

A    1
B    2
C    3
D    4
dtype: int64

In [11]:
s3.to_dict()

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [12]:
s3['A']

1

In [13]:
s3[s3>2]

C    3
D    4
dtype: int64

In [14]:
s3.max

<bound method Series.max of A    1
B    2
C    3
D    4
dtype: int64>

In [15]:
s3.pop()

<bound method NDFrame.pop of A    1
B    2
C    3
D    4
dtype: int64>

# 2. DataFrame

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
link = 'https://www.tiobe.com/tiobe-index/'
import webbrowser
webbrowser.open(link)

True

In [4]:
df = pd.read_clipboard() #读取剪贴板里的数据

In [5]:
df

   Aug 2019  Aug 2018  Change Programming Language  Ratings Change.1
0         1         1     NaN                 Java  16.028%   -0.85%
1         2         2     NaN                    C  15.154%   +0.19%
2         3         4  change               Python  10.020%   +3.03%
3         4         3  change                  C++   6.057%   -1.41%
4         5         6  change                   C#   3.842%   +0.30%
5         6         5  change    Visual Basic .NET   3.695%   -1.07%
6         7         8  change           JavaScript   2.258%   -0.15%
7         8         7  change                  PHP   2.075%   -0.85%
8         9        14  change          Objective-C   1.690%   +0.33%
9        10         9  change                  SQL   1.625%   -0.69%

In [6]:
df.Ratings

0    16.028%
1    15.154%
2    10.020%
3     6.057%
4     3.842%
5     3.695%
6     2.258%
7     2.075%
8     1.690%
9     1.625%
Name: Ratings, dtype: object

In [7]:
type(df.Ratings)

pandas.core.series.Series

In [8]:
df['Programming Language']

0                 Java
1                    C
2               Python
3                  C++
4                   C#
5    Visual Basic .NET
6           JavaScript
7                  PHP
8          Objective-C
9                  SQL
Name: Programming Language, dtype: object

In [9]:
df.columns

Index(['Aug 2019', 'Aug 2018', 'Change', 'Programming Language', 'Ratings',
       'Change.1'],
      dtype='object')

In [10]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [21]:
df_new = DataFrame(df, columns=['Programming Language', 'Aug 2019'],index=[1])

In [22]:
df_new

  Programming Language  Aug 2019
1                    C         2

In [29]:
df_new = DataFrame(df, columns=['Programming Language', 'Aug 2019', 'Aug 2020'])
df_new['Aug 2020'] = [np.arange(9)]

ValueError: Length of values does not match length of index

In [30]:
df_new[0:4]

  Programming Language  Aug 2019  Aug 2020
0                 Java         1       NaN
1                    C         2       NaN
2               Python         3       NaN
3                  C++         4       NaN

In [31]:
df_new.loc[0:3]

Programming Language    Java
Aug 2019                   1
Aug 2020                 NaN
Name: 0, dtype: object

## 2.2 通过字典创建dataframe

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
data = {
    'Country': ['china', 'India', 'Brazil'],
    'Capital':['Beijing', 'New Delhi', 'Brasilia'],
    'Population':['1432732201', '1303171635', '207847528']
}
df = DataFrame(data)

In [5]:
df

  Country    Capital  Population
0   china    Beijing  1432732201
1   India  New Delhi  1303171635
2  Brazil   Brasilia   207847528

In [6]:
df[0:2]

  Country    Capital  Population
0   china    Beijing  1432732201
1   India  New Delhi  1303171635

In [9]:
df.iloc[0:2,1:2]

     Capital
0    Beijing
1  New Delhi

In [10]:
df

  Country    Capital  Population
0   china    Beijing  1432732201
1   India  New Delhi  1303171635
2  Brazil   Brasilia   207847528

In [2]:
df = pd.read_clipboard()
df

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary          OpenDocument      read_excel
6       binary           HDF5 Format        read_hdf        to_hdf
7       binary        Feather Format    read_feather    to_feather
8       binary        Parquet Format    read_parquet    to_parquet
9       binary               Msgpack    read_msgpack    to_msgpack
10      binary                 Stata      read_stata      to_stata
11      binary                   SAS        read_sas
12      binary  Python Pickle Format     read_pickle     to_pickle
13         SQL                   SQL        read_sql        to_sql
14         SQL      Google Big Query        read_gbq        to_gbq

In [3]:
df.to_csv('df_io.csv', index=False)

In [1]:
!ls

NumpyLib.ipynb   helloworld.ipynb pandas.ipynb     x.pkl
df_io.csv        oen_array.npy    two_array.npz

In [ ]:
!more df_io.csv

Format Type,Data Description,Reader,Writer
text,CSV,read_csv,to_csv
text,JSON,read_json,to_json
text,HTML,read_html,to_html
text,Local clipboard,read_clipboard,to_clipboard
binary,MS Excel,read_excel,to_excel
binary,OpenDocument,read_excel,
binary,HDF5 Format,read_hdf,to_hdf
binary,Feather Format,read_feather,to_feather
binary,Parquet Format,read_parquet,to_parquet
binary,Msgpack,read_msgpack,to_msgpack
binary,Stata,read_stata,to_stata
binary,SAS,read_sas,
binary,Python Pickle Format,read_pickle,to_pickle
SQL,SQL,read_sql,to_sql
SQL,Google Big Query,read_gbq,to_gbq
df_io.csv (END)

In [ ]:
df_json = df.to_json()
df_json